/* 글머리 제거 */
li{list-style-type: none;}

/* 기본값 여백 제거 */
*{ padding: 0px; margin: 0px;}

/* 1. 제품 전체구역 */
.product{
    border: 1px solid gray;
    width: 400px;
    margin: 20px;
}

/* 2. 제품 이미지 */
.pine{
    width: 400px;
}

/* 3. 제품명 */
.ptitle{
    font-size: 20px;
    font-weight: bold;
    border-top: 1px solid gray;
    padding: 20px 10px;
}

/* 4. 가격 */
.price{
    padding: 10px; font-weight: bold;

}

/* 5. 내용 */
.contents{
    padding: 10px; line-height: 160%;
}

/* 6. 리뷰 평점 */
.review{
    padding: 10px;
}
.review > .orange{ color: orange ; font-weight: 600;}
