* {
    margin: 0; padding: 0;
    text-align: center;
    text-decoration: none;
}
.logo {
    width: 200px;
    text-align: center;
    margin: 30px 0 0 0;
}
.box {
    width: 400px;
    border: 1px solid rgb(219, 219, 219);
    margin: 10px;
}
.box2 {
    width: 400px;
    border: 1px solid rgb(219, 219, 219);
    margin: 10px;
    padding: 20px 0;
}
.inputbox {
    width: 294px; height: 37px;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(252, 252, 252);
    text-align: left;
    border-radius: 3px;
    margin: 8px 0 0 0;
    padding: 0 9px;
}

.loginbutton {
    width: 312px; height: 30px;
    background-color: rgb(98, 196, 235);
    border-radius: 8px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.fblogo {
    width: 28px;
    margin-right: 3px;
}
.fblogin{
    margin-bottom: 0px;
}
.loginletter{
    color: rgb(48, 89, 167);
    font-weight: bold ;
    vertical-align: 8px;
    margin-bottom: 5px;
}
.forgotpassword{
    margin: 25px;
    color: rgb(48, 89, 167);
    font-size: 13px;
}
.registerbox{
    padding: 30px;
    font-weight: normal;
}
.register{
    color: rgb(69, 164, 241);
    font-weight: bold;
}