/* 기본 여백 제거 */
*{ margin: 0px; padding: 0px; list-style-type: none; }

/* 구역 사이즈*/
*{ box-sizing: border-box;}

a{ text-decoration: none; color: black;}
/* 확인용 */
*{
}
/*---------------------헤더-----------------------------*/
#header{
    width: 1280px;
    margin: 30px auto;
   align-items: center;
    display: flex; justify-content: space-between; /* 양쪽 끝 균등 정렬 */
}

#topmenu{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
    font-size: 10px;
}

#topmenu > li{ margin-left: 10px;}

#mainmenu > li{ margin-left: 60px;}

#mainmenu{
    display: flex;
    margin: 20px 0px;
    font-size: 20px; font-weight: bold;
}

#mainimg{ width: 100%;}

/*-------------------본문-----------------------*/
#contents{
    width: 1280px;
    margin: 30px auto;
    
    display: flex; justify-content: space-between;
}

#aside{
    width: 250px;
}

#aside > h3{
    background-color: gray; color: white;
    font-size: 20px;
    padding: 15px;
}

#aside > ul > li{
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
}

#maincontents{
    width: 1000px;
}

#maincontents > h3{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    font-size: 20px;
    
}

#maincontents > img{
    display: block;
    margin: 0 auto; /* display: inline 이면 margin 0 auto; 불가능 */

}

/*----------------------푸터---------------------*/
#footer{
    background-color: #2c2a29;
    
    
}

#footercontents{
    width: 1280px;
    margin: 0 auto;
    display: flex; justify-content: space-between;
    color: white;
    padding: 20px 0px;
}