
#popup{
    background-color: darkcyan; color: white;
    width: 200px; height: 200px; border-radius: 10px;
    position: fixed;
    bottom: 50px; right: 10px; 
    z-index: 2;
}

#header{
    display: flex;
    border-bottom: 2px solid gray;
    position: sticky; /* 해당 구역이 가려질 때 위치 고정 */
    top: 100px; /*상단 고정*/
    z-index: 3; /* 다른 요소와 겹쳤을 때 우선순위*/
    background-color: white;
}
#header > ul{
    display: flex;
    list-style-type: none;
}





#parent{
    width: 500px; height: 500px; margin: 0 auto;
    background-color: skyblue;
    position: relative; /* 하위 요소들의 absolute 기준점 */
}

#parent > div{
    background-color: yellow;
    width: 100px; height: 100px;
    position: absolute; /* 절대위치 */
}

#box1{
    top: 25px; left: 200px
}
#box2{
    top: 125px; left: 70px;
}
#box3{
    top: 125px; left: 330px;

}
#box4{
    top: 250px; left: 70px;
    
}
#box5{
    top: 250px; left: 330px;
    
}
#box6{
    top: 350px; left: 200px;
}





