/*===================== 공통 CSS =============================*/
*{padding: 0px; margin: 0px; font-size: 12px; box-sizing: border-box;}
li{list-style-type: none;}
a{color: black; text-decoration: none;}
/*===========================================================*/
/* 레이아웃 css */
#header{width: 100%;}
#content{width: 1600px; margin: 0 auto;}
#footer{width: 100%;}
/* 작업용 css */
/**{ border: 1px solid red;}*/

#topmenu{
    display: flex; justify-content: flex-end;
    padding: 10px; 
    border-bottom: 1px solid #dbdbdb;
}

#topmenu > li >span{ padding: 0px 15px;}

#topmenu > li img{width: 30px; padding: 2px 10px 0px 0px;}

/*====================본메뉴=====================*/
#mainmenu{
    display: flex; justify-content: space-between;
    align-items: center; padding: 0px 40px;
}
#mainmenu > ul{
    display: flex;  width: 80%;
}
#mainmenu > ul > li{height: 80px; width: 80px;
                    display: flex; align-items: center; justify-content: center;
                    width: 80px;
}

#searchbox{ border-bottom: 1px solid black; }

#searchbox > input{border: none; padding: 5px; width: 130px;}

#searchbox > img{width: 15px;}

/* 커서(포커스) 활성화 되었을 때 테두리/outline 제거 */
*:focus{ outline: none;}

#mainmenu  .new{color: red;}

#mainmenu  .logo{ width: 155px;}

/*======================드롭메뉴===================*/
#mainmenu >ul >li{position: relative;}

#mainmenu  .submenu{
    position: absolute;
    top: 80px;
    background-color: white;
    width: 130%; /* 부모 사이즈보다 0.3배 더 크다 */
    text-align: center;                     
    display: none;
}
#mainmenu .submenu >li{margin: 10px ;}
/* 본메뉴(li)에 hover(마우스를 올렸을때) 했을때 submenu 보이도록 */
#mainmenu > ul > li:hover .submenu{display: block;}

#mainmenu{
    position: sticky; /* 스크롤 내릴경우 위치 고정*/
    top: 0px; /* 최상단 */
    /*
        sticky 사용조건
            1. sticky : 상위 부모의 높이 사이즈 안에서 고정
              vs fixed : 특정 요소와 상관없이 디바이스 고정 
            2. top , right , left , bottom 위치 속성 1개이상 필수!
            3. 부묘오소 overflow 속성 사용금지.
    */
    background-color: white;
    /*투명도*/
    opacity: 80%;
}

/*================메인이미지==================*/
#mainimg{ width: 100%; }


#content > .title{
    margin-top: 50px; font-size: 17px;
    text-align: center; font-weight: bold;
}

.subtitle{ 
    font-size: 10px; text-align: center;
    margin: 20px 0; color: #999;
}

#items > .item{ width: 380px; margin: 30px 0;}
#items > .item > .itemimg{width: 100%;}
#items .color > span{
    width: 10px; height: 10px;
    display: inline-block; /* 한줄 배치 하면서 사이즈 적용 가능*/
    border: 1px solid #dbdbdb;
}
#items .colorreview{
    display: flex; justify-content: space-between;
    margin: 10px 0;
}
#items .review{
    color: #999;
}
#items .itemname{margin: 5px 0px;}
#items .itemname>.size{
    font-size: 10px; color: #999; margin: 1px 0;
}
#items .itemprice{ margin: 10px 0; position: relative;}
#items .itemprice > .prev{
    
    text-decoration: line-through;
    color: #999;
}
#items .itemprice > .dc{
    position: absolute;
    top: 0px; right: 0px;
    font-size: 15px;
    color: red;
    font-weight: bold;
}
#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#popup{
    position: fixed;
    right: 0px; top: 30%;
}
#popup img{
    width: 20px;
}
#popup > ul > li{
    padding: 10px;
    border: 1px solid #dbdbdb;
    background-color: #f7f7f7;
    position: relative;
}
#popup > ul > li > span{
    position: absolute;
    top: 10px; right: 40px;
    width: 80px; height: 20px; background-color: black; color: white;
    border-radius: 5px; text-align: center;
    display: none;
}
#popup > ul > li:hover .popupsub{
    display: inline;
}
#footerbottom{
    text-align: center;
    font-size: 10px; color: #999;
    margin: 30px 0; line-height: 160%;
}
#footertop{
    background-color: #f7f7f7;
}
#footercontent{
    width: 1400px; margin: 0 auto;
    display: flex ; justify-content: space-between;
    padding: 50px  100px;
}
#footercontent h3{ margin: 10px 0; font-size: 16px; font-weight: bold;
}
#footercontent h4{margin: 10px 0; font-size: 18px; font-weight: bold;}
#footercontent ul > li {margin-bottom: 10px;}
    






