/* 1. 이미지 */
.bookimg{

    width: 300px; height: 400px;
}
/* 2. 제품번호 */
.titlenum{
    color: orange;
    font-size: 30px;
    display: inline;/* 생략가능 */

}
/* 3. 내용구역 */
.contents{

    background-color: beige;
    width: 500px;
    padding: 30px 20px ;
    
}
/* 4.글머리 제거 */
.contents >li{

    list-style-type: none;
}
/* 5. 특정 구역 색상만 변경 */
.point{

color: orange;
font-weight: bold;

}
.contents >.point{
    
}


