
*{  font-size: 16px;
    padding: 0px; margin: 0px;
    font-size: 10px; box-sizing: border-box;
}
li{list-style-type: none;}
a{color: black; text-decoration: none;}

#header{width: 100%;}
#content{width: 1400px; margin: 0 auto;}
#footer{width: 100%;}


* {
    margin: 0; padding: 0;
    font-family: 'KCC-Ganpan';
    box-sizing: border-box;
    list-style-type: none;
}

a { text-decoration: none; color: black;}



/* width: 1184px; padding: 0 20px; */

/*헤더*/
#headerBg {position: sticky; top: 0; box-shadow: 0px 5px 3px rgba(44, 44, 44, 0.1);}
#headerBg { width: 100%; height:120px;background-color: white;}

#header {
    display: flex; justify-content: space-between;
    width: 1184px; height: 120px;
    margin: 0 auto; padding: 0 20px; padding-top: 24px;
    align-items: center;

}
#header li {text-align: left;}

#topLogo > a {display: block;}

/*헤더 메뉴*/
#headerMenu > ul {display: flex; height: 96px; align-items: center;}
#headerMenu > ul > li { width:163px; font-size: 26px;}
#headerMenu > ul > li > a { margin-top: 20px;}
#headerMenu > ul > li > img { width: 8px; margin-left: 10px; margin-bottom: 4px;}

#topMenu {position: relative;}

/*호버 메뉴*/
#hiddenMenuBg {display: none;}
#hiddenMenu {display: none;}

#headerMenu:hover > div {
    display:block;
    height: 300px; width: 100vw; 
    background-color: white;
    position: absolute; 
    top: 120px; left:0;
    box-shadow: 0px 5px 3px rgba(44, 44, 44, 0.1);
}

#headerMenu:hover > ul > div { display: flex;
    position: absolute; top: 96px;
    width: 100vw; z-index: 2;}

#hiddenMenu > ul { width: 163px;}
#hiddenMenu > ul > li {height: 25px;}
#hiddenMenu > ul > li > a {font-family: 'Malgun Gothic'; font-weight: bold; font-size: 14px;}

/*헤더 버튼*/
#franchiseBtn, #deliveryBtn { 
    display: flex; justify-content: center; align-items: center;
    font-size: 22px; 
    width:168px; height:50px; 
    border-radius: 25px; 
}
#franchiseBtn > a, #deliveryBtn > a { color: white;}
#franchiseBtn {background-color: #502416;}
#deliveryBtn {background-color: #d72300;}

#toTopbutton > a {
    width: 52px; height: 52px; 
    background-color: black;
    position: fixed;
    right: 20px;
    bottom: 316px;
    z-index: 4;
    opacity: 0.5;
}


#bottomHeader{
    background-color: black;
     height: 60px;
}
.recommend{
    color: white;
    text-align: center;
    margin-right:1200px ;
    padding-top:19px ;
    font-size: 14px;
    
}


#mainSg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -80px;
    padding-bottom:160px ;
    font-size: 16px;
    padding-top: 55px;
  
}
.menu{
    display: flex;
    padding-right: 50px;
    padding-top: 180px;
   
   
   
}

.chose{
    font-size: 40px;
   padding-right: 130px;
   padding-top: 180px;
  
}


.menu .m1{
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness:3px;
    text-underline-offset:7px;
    text-align: center;
    padding: 0px 15px;
   
  
}
.menu .m2{
    font-size: 16px;
    padding: 0px 15px;
    color: #B8B8B8;
}
a:hover .m2{
    color: black; font-weight: bold;
} /*선택자 hover :해당 선택자에 마우스를 올렸을 때.*/



#mainMenu > .menulist{
     display: flex;
   
    
     }

#mainMenu  .menuImg{
    width: 250px;
    margin: 0px 20px;
  
}


.menulist {
    flex-wrap: wrap;
    padding-left: 60px;
}

#mainMenu  p{
text-align: center;
font-size: 20px;
font-weight: bold;
margin-bottom: 90px;
margin-right: 5px;
}

.b1{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 50px;
    background-position : 0px 20px;
}

.b2{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 50px;
    background-position : 0px 20px;
}

.b3{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 50px;
    background-position : 0px 20px;
}

.b7{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 50px;
    background-position : 0px 20px;
}

.b8{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 50px;
    background-position : 0px 20px;
}

.b9{
    background-image:url(뉴아이콘.png) ;
    background-repeat : no-repeat;
    background-size: 53px;
    background-position : 0px 10px;
}


#topFooter, #btmFooterBG {background-color: #2b0200; color: #bba391;}
#topFooter > ul {display: flex; width:1144px; height:388px; padding-top: 50px; margin: 0 auto; border-bottom: 1px solid #bba391;}

#topFooter > ul > li {width:228px; height:299px; }

.ftMenubig {
    font-family: "KCC-Ganpan" !important ; 
    font-size: 24px; margin-bottom: 5px; 
    color: #f5ebdc !important;
}
.footerMenu > li {margin-bottom: 10px;}
.footerMenu > li > a {color: #bba391; font-family: "Malgun Gothic"; font-weight: bold;}

#footerSocial > a > img {height: 20px; margin-top: 30px;}

#btmFooter {
    display: flex; 
    width:1144px; height:388px; 
    margin: 0 auto; padding-top:50px;
    justify-content: space-between;
}
#btmFooterleft > p, #btmFooterleft > p > a {
    font-family: "Malgun Gothic" !important;
    color: #bba391 !important; 
    font-weight: bold; font-size: 14px;
}
#btmFooterright > a {
    font-family: "Malgun Gothic" !important; 
    color: #bba391 !important; 
    font-weight: bold; font-size: 14px;
}
#btmFooterright > div > div > a {
    font-family: "Malgun Gothic" !important; 
    color: #f5ebdc !important;
    font-weight: bold; font-size: 14px;
}
#btmFooterleft > img {margin-bottom: 30px; margin-right: 10px;}
#btmFooterleft > a {margin-bottom: 10px;}


#btmFooterright {text-align: right;}
#btmFooterright > div {display: flex; justify-content: right; margin-top: 15px;}
#btmFooterright > span { margin: 0 5px; opacity: .3;}
#footerBtn > a { 
    display: inline-block;
    width: 115px; height: 30px; 
    border: 1px solid #bba391; 
    border-radius: 16px;
    text-align: center;
    line-height: 30px;
}
