*{box-sizing: border-box;}


.box{

    border:2px solid blue;
    width: 100px;
}
.flexbox1{
    border:3px solid red;
    display: flex;  /*하위요소들의 배치 방법:기본값이 가로배치 */
    flex-wrap: 250px; 
 /* 기본값: 줄바꿈 안함, 자식요소들을 한 줄 표시 하되 사이즈가 부족하면 자동배치*/
}
.flexbox2{
    border:3px solid red;
    display: flex;
    flex-wrap: wrap;
 /* 자식 요소들의 크기가 넘쳤을 때 줄바꿈*/
  width: 250px;

}

.flexbox3{
    border:3px solid red;
    display: flex;
    flex-wrap: wrap-reverse;
    width: 250px;
}
.flexbox4{
    border:3px solid red;
    display: flex;
    flex-direction: row; /* 배치 방향: 기본값:row */
    width: 250px; 

}
.flexbox5{
    border:3px solid red;
    display: flex;  flex-direction: column;
    /*배치방향 : column 세로 방향 */
    width: 250px;

}
.flexbox6{
    border:3px solid red;
    display: flex;
    flex-direction: row-reverse;
    width: 250px;

}

.flexbox7{
    border:3px solid red;
    display: flex;
    flex-direction: column-reverse;
    width: 250px;

}