

*{   padding: 0px;
     margin: 0 px;
     font-size: 30px;
     list-style-type: none;

}

#wrap{
   width: 900px;
   margin: 0 auto;
   
}
h3{
    text-align: center;
    font-size: 50px;
}
#ddd{ 
    display: flex;
    justify-content: center;
    

}
#ddd> #inf{
    border: 1px solid pink;
    box-shadow: 0 0 10px pink;
    font-size: 67px;
    height: 80px;
        
    
    
}
#dd{
    border: 1px solid pink;
    box-shadow:  0 0 10px pink;
    padding: 10px 10px 10px 10px;
   
}


/* ============= 리스트 ============= */
ul > li{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    font-weight: bold;
    margin-bottom: 70px;
}

ul > li > div > button{
    padding: 4px 12px;
    border: 1px solid pink;
    box-shadow: 1px -1px 7px gray;
    font-size: 25px;
}



